body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: scroll;
  background-color: rgb(216, 140, 0);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(255, 217, 0);
  color: black;
}

.header a.active {
  background-color: rgb(255, 184, 30);
  color: white;
}

.header-right {
  float: right;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-sub-menu {
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  list-style-type: none;
  right: 0;
  top: 50px;
  padding: 0;
  z-index: 99;
}

.header-menu {
  position: relative;
}

.header-menu:hover .header-sub-menu {
  display: block;
}

.content {
  width: 100%;
  min-height: 70vh;
  background-color: rgb(209, 115, 0);
}

.footer {
  display: flex;
  width: 100%;
  background-color: goldenrod;
}

.footer ul {
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.footer ul li {
  margin: 0 25px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/* inicio.php */

.categories {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.categories__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.category {
  width: 33%;
  display: flex;
  justify-content: center;
}

.category__container {
  position: relative;
  width: 100%;
}

.category__container--name {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__container--name span {
  color: white;
}

.category__container--img {
  position: relative;
  width: 100%;
}

.category__container--img img {
  width: 100%;
  height: 30vw;
}

/* acerda_de.php */

.main {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}
.main__container {
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px 40px;
  background-color: white;
  border-radius: 20px;
  height: auto;
}

.main__container--title {
  width: 100%;
  border-bottom: solid whitesmoke 1px;
  margin-bottom: 20px;
}

.main__container--content {
  width: 100%;
}

/* contacto.php */

input,
select {
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

form {
  margin: 20px 0;
}

.formulario--grupo {
  margin-bottom: 20px;
  display: flex;
}

.formulario--input {
  padding-right: 20px;
}

.formulario--input label {
  font-style: oblique;
}

.formulario--final {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.boton {
  min-width: 40%;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  background-color: rgb(0, 39, 157);
  border-color: rgb(4, 30, 108);
  color: white;
}

.boton:hover {
  cursor: pointer;
  background-color: rgb(92, 0, 153);
  border-color: rgb(71, 2, 117);
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

/* tienda.php */

.store__container {
  width: 85%;
  display: flex;
  background-color: white;
}
.products {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.produtcs__container {
  display: flex;
  justify-content: space-around;
}

.product_card {
  width: 30%;
  border: solid black 1px;
  border-radius: 15px;
}

.product_card__container {
  display: flex;
  flex-direction: column;
}

.product_card__container--cover {
  width: 100%;
  height: 150px;
  padding: 20px 0;
  border-bottom: whitesmoke solid 1px;
  margin-bottom: 15px;
}

.product_card__container--cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product_card__content--name,
.product_card__content--price,
.product_card__content--descripcion,
.product_card__content--add {
  margin: 10px;
}

/* mis_direcciones.php */

.addresses__container {
  width: 100%;
  display:  flex;
  flex-direction: column;
}

.address_card {
  width: 100%;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
}

.address_card__container {
  width: 100%;
  padding: 40px 20px;
  display: flex;
}

.address_card__container--content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.address_card__container--actions {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.address_card__container--actions a {
  width: 45%;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  background-color: rgb(0, 39, 157);
  border-color: rgb(4, 30, 108);
  color: white;
}

.address_card__container--actions a:hover {
  cursor: pointer;
  background-color: rgb(92, 0, 153);
  border-color: rgb(71, 2, 117);
}